
.noUsersConected{
    font-size: 26px;
    text-align: center;
}

#formConected{
    position: relative;
    font-family: Ghandi;
    color: #7E7E7E;
    background-color: rgb(250, 250, 250);
    padding: 14px 14px 14px 14px;
    margin-top: 80px;
    margin-bottom: 50px;
    left: 4.5%;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.1);
}

.btn-danger{
    margin-right: 10px;
}
