
footer{
    position: absolute;
    bottom: 0;
    left: 4.5%;
    text-decoration-style: block;
    background-color: rgb(229, 229, 229);
    border-bottom: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.footerText{
    color: black;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #092f56;
    font-stretch: normal;
    margin: 0px;
    font-size: 13px !important;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  /*unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;*/
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;*/
}

