body {
    font-family: 'Raleway', sans-serif!important;
      background-color: #d5d0ba!important;
}

body h1, body h2,body h3,body h4,body h5,body h6 {
    font-family: 'Raleway', sans-serif!important;
}

.body-content {
    padding-left: 15px!important;
    padding-right: 15px!important;
    background-color: white!important;
}

/*Estilo para las tablas*/
/*.datagrid table thead th, .datagrid table tfoot th  {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2B71AB), color-stop(1, #2B71AB) );background:-moz-linear-gradient( center top, #2B71AB 5%, #2B71AB 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B71AB', endColorstr='#2B71AB');background-color:#2B71AB; color:white; font-size: 14px; font-weight: bold; border-left: 1px solid #2B71AB; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #383838; border-left: 1px solid #DBDBDB;font-size: 14px;border-bottom: 1px solid #000000; }.datagrid table tbody .alt td { background: #EBEBEB; color: #383838; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }*/
.datagrid table thead th, .datagrid table tfoot th  {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2B71AB), color-stop(1, #2B71AB) );background:-moz-linear-gradient( center top, #2B71AB 5%, #2B71AB 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B71AB', endColorstr='#2B71AB');background-color:#2B71AB; color:white; font-size: 14px; font-weight: bold; border-left: 1px solid #2B71AB; } .datagrid table tbody td { color: #383838; border-left: 1px solid #DBDBDB;font-size: 14px;border-bottom: 1px solid #000000; }.datagrid table tbody .alt td { background: #EBEBEB; color: #383838; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.serv_menu{
    padding-right: 5px;
    padding-left: 5px;
    text-align:center;
    line-height: 1.1;
    height:85px;
 }

.serv_menu:hover{
    /*border:1px solid #b5a36a;
    border-radius:5px;*/
    color: #00355a;
    background-color: #e9e9e9!important;
 }

.serv_menu a:hover {
    text-decoration:none;
}

  .serv_menu a h2{
     margin-bottom:0px;
     margin-top:5px;
 }

.shortcuts a {
    color: #0084b4 !important;
    display: block;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: -15px;
}
.shortcuts:hover {
    background-color: #0084b4 !important;
}

.shortcuts a:hover {
    text-decoration:none;
    color:white!important;
}

.shortcuts .fa {
    font-size: 60px;
    margin-top: 20px;
}
.hr_customized
{
    margin-top:5px !important;
    margin-bottom: 5px !important;
}
.rotulo_campo_obligatorio
{
    font-size: 8px;
    color:#d71717;
    font-weight:bold;
}

.navbar-UG {
    background-color: #fff!important;
    border-color: #fff!important;
    border-bottom-color: #b5a36a!important;
    border-bottom-width: 5px!important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height:50px;
}
.navbar-UG li a {
        color: #b5a36a !important;
        font-size: medium !important;
        border-right: 0.5px solid!important;
        padding-bottom:10px!important;
        padding-top:10px!important;
    }

.navbar-UG li:first-child  a{
        border-left: 0.5px solid!important;
    }

.navbar_UGto {
    /*background-color: #fff;
    border-color: #fff;*/
    border-bottom-color: #b5a36a!important;
    border-bottom-width: 8px!important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 0px!important;
}


.navbar_UGto li a {
        color: white !important;
        font-size: medium !important;
        border-right: 0.5px solid!important;
        padding-bottom:10px!important;
        padding-top:10px!important;
        height: 41px!important;
}

@media (max-width: 1199px) {
    .navbar_UGto li:first-child  a{
        border-left: none!important;
    }
}

@media (min-width: 1200px) {
    .navbar_UGto li:first-child  a{
        border-left: 0.5px solid!important;
    }
}

.navbar-right li a {
        color: white !important;
        font-size: medium !important;
        /*border-left: 0.5px solid!important;*/
        padding-bottom:10px!important;
        padding-top:10px!important;
    }

@media (min-width: 1200px) {
   .navbar-right li:last-child a {
        border-right: 0.5px solid !important;
    }
}

@media (max-width: 767px) {
    .lbl_nombre_categoria{
        font-size:inherit;
    }
}
@media (min-width: 768px) {
    .lbl_nombre_categoria{
        font-size:larger;
    }
}
@media (min-width: 992px) {
    .lbl_nombre_categoria{
        font-size:large;
    }
}
@media (min-width: 1200px) {
    .lbl_nombre_categoria{
        font-size:large;
    }
}

.navbar-UG .icon-bar {
         background-color: white !important;
    }

.navbar_UGto .icon-bar {
         background-color: white !important;
    }



.navbar-nav > li > .menu_usuario {    
    background-color: #174d87!important;

}

.menu_usuario > li > a:hover, .menu_usuario > li > a:focus, .navbar_menu_principal > li > a:hover, .navbar_menu_principal > li > a:focus  {
    background-color: white!important;
    color: #174d87!important;
}




.navbar-toggle {
    margin-bottom: 5px!important;
    margin-top:5px!important; 
    border: white 1px solid!important;
}

#cont_notif{
    color: white!important;
}

#container_NumNotif{
    position: fixed;
    border: 1px solid;
    font-size: 10px;
    border-radius: 5px;
    width: 20px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 9px;
    background-color: #174d87!important;
}

/*@media (min-width: 768px) {
    .navbar-right {
        margin-right: 33px!important;
    }
}*/

.inline li {
    display: inline-block!important;
    padding-right:0!important;
    padding-left:0!important;
}

.inline li a {
    border-left: none!important;
    border: none!important;
    border-right:none!important;
}

.menu_usuario{
    min-width:100px!important;
    width: min-content!important;
}

/*.menu_usuario li{
    width:100%;
}*/

.sinBorde a
{
    border-right:  none !important;
}

.config a
{
    border-right:  none !important;
}
.config .fa {
    font-size: 30px!important;
    text-align:right!important;
    margin-top:-5px !important;
}



.row-border {
    border-bottom: 1px solid #c3c3c3;
    color: #9e955c;
    font-size: 120%;
    line-height: 10px;
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
    text-align: center;
}

.pie {
    background-color:#e6e4d6;
    margin: 0px 0;
    padding: 10px 0 0;
}

.txt_datosFin{
    width:auto!important;
}

.txt_id{
    text-align:center;
}

/*Redes sociales*/
#contiene-redes {
    margin: 20px auto 30px !important;
    max-width: 239px;
    display: block;
}
#contred {
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    padding: 6px 0 6px 4px;
    width: 32px;
}
.moduletable {
    margin-bottom: 0px;
    padding: 0px;
}
.direccion {
    font-size: 90%;
    line-height: 10px !important;
}
#face {
    background: rgba(0, 0, 0, 0) url("../images/facebook.png") no-repeat scroll 0 0;
    display: block;
    height: 38px;
    transition: all 0.3s ease-in-out 0s;
    width: 39px;
}
#face:hover{
    background: url('../images/facebook2.png') no-repeat;
}

#instagram {
    background: rgba(0, 0, 0, 0) url("../images/instagram.png") no-repeat scroll 0 0;
    display: block;
    height: 38px;
    transition: all 0.3s ease-in-out 0s;
    width: 39px;
}
#instagram:hover{
    background: url('../images/instagram2.png') no-repeat;
}

#google {
    background: rgba(0, 0, 0, 0) url("../images/googleplus.png") no-repeat scroll 0 0;
    display: block;
    height: 38px;
    transition: all 0.3s ease-in-out 0s;
    width: 39px;
}
#google:hover{
    background: url('../images/googleplus2.png') no-repeat;
}

#youtube {
    background: rgba(0, 0, 0, 0) url("../images/youtube.png") no-repeat scroll 0 0;
    display: block;
    height: 38px;
    transition: all 0.3s ease-in-out 0s;
    width: 39px;
}
#youtube:hover{
    background: url('../images/youtube2.png') no-repeat;
}

#twitertop {
    background: rgba(0, 0, 0, 0) url("../images/twitter.png") no-repeat scroll 0 0;
    display: block;
    height: 38px;
    transition: all 0.3s ease-in-out 0s;
    width: 39px;
}
#twitertop:hover{
    background: url('../images/twitter2.png') no-repeat;
}

.ui-autocomplete {
    /*min-height: 350px;*/
    max-height: 600px;
    overflow-y: auto;
    position: fixed;
    z-index: 5000;
    font-size: 14px !important;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: white url("../Images/cargando.gif") right center no-repeat;
}

.ui-menu-item:hover
{
    color:#fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.select_filtro{
    width:200px !important;
}

h3.titulo {
    border-bottom: 1px solid #d8d8d8;
    color: #0e2031;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
h3.subtitulo {
    /*color: #2c7dbe;*/
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.Servicio {
    text-align: justify;
    padding-right:30px;
}

.imgServicio {
    border: 3px solid #e6e6e6;
    float: left;
    margin: 6px 10px 0px 0;
    display: inline;
}

.imgFoto {
    float: left;
    margin-left:-15px;
    margin-right:15px;
    display: inline;
}

.input-sm{
    padding-bottom:5px;
}

.row {
    margin-bottom:5px;
}

thead tr th, tfoot tr th{
     text-align:center!important; 
     vertical-align:middle!important;
}

.indicacionform {
        font: 9px Verdana, Arial, Helvetica, sans-serif;
        color: #336699;
}

/*Muestra el mensaje de error para la validacion de los formularios*/
#los_errores {  
         margin:15px;  
         padding:7px;  
         text-indent:5px;  
         border:1px solid #E6C8BD;  
         background: #FBE3E3 url(/images/error_16.gif) no-repeat 3px center;  
    	 color:#BD6957;
         font-weight:bold;  
         padding-left:20px;    
         display:none;  
 }  
 
 .error
 {
     color: #a94442 !important;
     font-size: 11px !important;
     font-style: normal !important;
     font-weight: normal !important;
 }

 .shortcut_menu
 {
     height: 150px;
     text-align:center;
 }

 .menu_Servicios a{
     color: #00355a;
 }

 .menu_Servicios h2{
     padding-bottom:0px;
 }

 .menu_Servicios a:hover, .menu_Servicios a:focus {
     color: #00355a!important;
     text-decoration: none;
 }


 /*POPOVER*/
 .popover-title{
     background-color:#e9e9e9!important;
     color:#7e7e7e!important;
 }

 .popover-content{
     background-color:#ffffff!important;
     color:#00355a!important;
 }

 /*.text-info{
     color:#7e7e7e;
 }*/

#panel_Tipo_Servicios div{
    border-left:1px solid #b5a36a;
}

#panel_Tipo_Servicios a{
      text-decoration:none;
      color:#0084b4;
}

#panel_Tipo_Servicios a:hover{
      text-decoration:none;
      color:#b5a36a!important;
}

#panel_Tipo_Servicios a:focus{
      text-decoration:none;
}

.panel_activo {
    color:#b5a36a!important;
}


/*NOTICIAS RSS*/
.rssContainer {
    position: relative;
    float: left;
    width: 100%;
}

.rsspanel {
    overflow: hidden;
}

.rsspanel .rssFwd {
    background: url('../Images/arrows.png') 100% 0;
    right: 30px;
}

.rsspanel .rssBck {
    background: url('../Images/arrows.png') 0 50%;
    left: 30px;
}

.rsspanel .rssFwd:hover, .rsspanel .rssBck:hover {
    transform: scale(1.2);
}

.rsspanel .rssFwd, .rsspanel .rssBck {
    position: absolute;
    top: 45%;
    width: 25px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}


.rssslider {
    position: relative;
    display: block;
    width: 500%;
    left: 0;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}


.rssblock {
    position: relative;
    display: inline-block;
    width: 20%;
}


.rssblock article {
    position: relative;
    float: left;
    width: 23%;
    margin: 0 1%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


.rssblock figure {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
figure {
    margin: 0;
}

.rssblock article img {
    display: block;
    width: 100%;
    min-height: 210px !important;
    height: auto !important;
}
img {
    padding: 0px;
    border: none;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    max-width: 100%;
}


.rssblock figure:hover figcaption {
    top: 0;
}
.rssblock figure figcaption {
    position: absolute;
    background: rgba(149,138,93,0.8);
    width: 100%;
    height: 100%;
    padding: 3% 4% 4% 4%;
    top: 65%;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
}


.rssblock figure figcaption .rsstitle {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 15px;
}


.rssblock figure:hover figcaption p {
    opacity: 1;
}
.rssblock figure figcaption p {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.parrafo {
    line-height: 15px;
    color: #F8F5EF;
    margin-top: 10px;
    background: #9F8E2D;
    padding: 8px;
    margin: 10 -20px 0 -20px;
}
p {
    margin: 5px 0 5px;
}

.rssblock figure figcaption .rssleer {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

@media (min-width: 1590px){
    .rssblock figure figcaption .rsstitle {
    font-size: 120%;
    line-height: 20px !important;
    }
}




.star{
    color:#e5e5e5;
    cursor:pointer;
}

.popover {
    font-family: 'Raleway', sans-serif;
}

.popover-title{
    text-align:center;
    background-color:#a0935f!important;
    color:#ffffff!important;
}

#div_btn_Comentarios{
    position: fixed; 
    bottom: -12px; 
    right: 135px; 
    text-align: right;
}

.close_modal{
    line-height:0.5!important;
}

#lnk_Ir_Servicios{
    cursor:pointer;
}

#lnk_Ir_Servicios:hover{
    text-decoration:none;
}

.opc_descarga{
    cursor:pointer;
}

.nav_Anio{
    cursor:pointer;
}

.btn_EditarServicioUsuario{
    margin-bottom:5px;
}


/*NUEVO MENU LISTADO SERVICIOS*/

.shortcuts_nuevo .selec_Servicio {
    color: white !important;
    display: block;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
}

.shortcuts_nuevo:hover {
    background-color: #DBDBDB !important;
}

.shortcuts_nuevo .selec_Servicio:hover {
    text-decoration:none;
    color: white!important;
    opacity:0.9;
    font-size: 13px;
    border: 2px ridge; 
}

.shortcuts_nuevo .fa {
    font-size: 40px;
    margin-top: 13px;
}

 .shortcut_menu_nuevo
 {
     height: 125px;
     text-align:center;
     padding-bottom:10px;
 }

 h3.subtitulo_nuevo{
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
 }

 .btn_favorito{
    position: absolute;
    display: flex;
    left: 35px;
    top: 20px;
    color:white;
    z-index:2;
 }

  .btn_favorito:hover{
    text-decoration:none;
    cursor:pointer;
    color:gray;
 }

 .btn_favorito .fa{
    font-size: 20px;
    margin-top: 10px;
    margin: 0px 0px 0 -13px;
 }

  .btn_detalles{
    position: absolute;
    display: flex;
    left: 85px;
    top: 20px;
    color:white;
    z-index:2;
 }
  .btn_detalles:hover{
    text-decoration:none;
    cursor:pointer;
    color:gray;
 }

 .btn_detalles .fa{
    font-size: 20px;
    margin-top: 10px;
    margin: 0px 0px 0 13px;
 }

 @media only screen and (min-width: 700px) {
    .div_col_md {
        width:12%!important
    }

    h3.subtitulo_nuevo{
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
 }
}




 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 12; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0084b4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top:40px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#navbar_side li{
    width:100%;
}

#navbar_side li a:hover, #navbar_side li a:active, #navbar_side li a:focus{
    background-color:white;
    color:#b5a36a;
}

#navbar_side .dropdown-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height:auto;
}

#navbar_side li a{
    word-wrap: break-word;
    white-space: normal;
}

#navbar_side{
    margin:0 auto!important;
}


.panel_body_publicacion{

    overflow:auto;
}

.ui-widget {
  font-family: 'Raleway', sans-serif;
}